poetry.lock
*.tar.gz
*~
__pycache__
*.env
.env
*.ttl
dist
*.brf
*.txt
*.tar
*.rdf
/btp.user.json
graphdbservice

# Temporary files
tmp/
*.tmp
*.temp
.tmp/
temp/

# Test coverage
coverage.out
coverage.html
graphservice
data/
