variables:
  UV_VERSION: "0.8"
  PYTHON_VERSION: "3.12"
  BASE_LAYER: bookworm-slim
  UV_LINK_MODE: copy

stages:
  - build
  - release

build:
  stage: build
  tags:
    - local
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script:
    - uv sync --index https://cache.hz.pantopix.net/repository/pypi-private/simple/
    - uv build
  artifacts:
    paths:
      - dist
    expire_in: 2 hour

release:
  stage: release
  tags:
    - local
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script: 
    - uv publish --index pantopix
  rules:
    - if: '$CI_COMMIT_TAG' # Only run on tagged commits
