variables:
  UV_VERSION: "0.8"
  PYTHON_VERSION: "3.12"
  BASE_LAYER: bookworm-slim
  UV_LINK_MODE: copy

stages:
  - build
  - release
  - deploy

build:
  stage: build
  tags:
    - docker
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script:
    - uv sync --index https://cache.hz.pantopix.net/repository/pypi-private/simple/
  artifacts:
    paths:
      - .venv
    expire_in: 2 hour

build-image:
  stage: build
  tags:
    - task
    - shell
    - uv
  script:
    - task -a
    - task environments

push-images:
  stage: release
  tags:
    - task
    - shell
    - uv
  script:
    - task -a
    - task push
  only:
    - tags

deploy-cf-dev:
  stage: deploy
  environment: 
    name: dev
  tags:
    - task
    - shell
    - cf
  script:
    - task -a
    - task deploy-dev
  only:
    - tags

# we need to disable 
# the test deployment
# as long we do not have
# another rabbitmq endpoint
# for the test environment
#deploy-cf-test:
#  stage: deploy
#  environment: 
#    name: test
#  tags:
#    - task
#    - shell
#    - cf
#  script:
#    - task -a
#    - task deploy-test
#  only:
#    - tags
